<style>
    a {
        text-decoration: none;
    }
</style>
{{> flash}}
<div class="table-responsive container my-3">
    <table class="table table-striped table-bordered border-white pb-5">
        <thead>
            <tr>
                <th scope="col" class="table-icon">
                    *
                    {{!-- <img src="" alt="dot" width="30px" height="30px" /> --}}
                </th>
                {{!-- <th scope="col">First Name</th> --}}
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">WhatsApp Num.</th>
                <th scope="col">Phone Num.</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#if teamMembers.length}}
                {{#each teamMembers}}
                    <tr>
                        <td class="table-icon">
                            <img src="/assets/uploads/{{profile_pic}}" alt="dot" width="30px" height="30px" />
                        </td>
                        <td role="button" class="{{_id}}">{{name}}</td>
                        <td>{{email}}</td>
                        <td>+{{contact}}</td>
                        <td>+{{whatsapp_number}}</td>
                        <td class="" title="Click to View">
                            <a href="/show/{{_id}}" role="button" class="fa fa-eye text-info"></a>
                            {{!-- <i role="button" class="fa fa-eye" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> --}}
                            {{!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span role="button" class="dropdown-item text-info" > View </span>
                                <span role="button" class="dropdown-item text-danger"> Delete </span>
                            </div> --}}
                        </td>
                        <td class="" title="Click to Delete Player">
                            <form method="POST" action="/delete/{{_id}}">
                                <button role="button" class="border-0 fa fa-trash text-danger"></button>
                            </form>
                            {{!-- <i role="button" class="fa fa-eye" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i> --}}
                            {{!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span role="button" class="dropdown-item text-info" > View </span>
                                <span role="button" class="dropdown-item text-danger"> Delete </span>
                            </div> --}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">
                        <p>There are no team members</p>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>
